<div class="view">
    <div class="diff_list">
        <div class="before">
            <img src="${require('../../images/Regale/Auswahl_All.png')}">
        </div>
        <div class="after-outer">
            <div class="after">
                <div class="after-holder">
                    <img class="vr vr-max" usemap="#image-map-max" src="${require('../../images/Regale/Auswahl_MAX.png')}">
                    <img class="vr vr-anna" usemap="#image-map-anna" src="${require('../../images/Regale/Auswahl_ANNA.png')}">
                    <img class="vr vr-georg" usemap="#image-map-georg" src="${require('../../images/Regale/Auswahl_Georg.png')}">
                    <div class="pack-container">
                        <img class="vr vr-pack vr-detail vr-max-yogu" usemap="#image-map-detail" src="${require('../../images/Regale/Auswahl_MAX_Yogu.png')}">
                        <img class="vr vr-pack vr-detail vr-max-naturana" usemap="#image-map-detail" src="${require('../../images/Regale/Auswahl_MAX_Naturana.png')}">
                        <img class="vr vr-pack vr-detail vr-anna-fitline" usemap="#image-map-detail" src="${require('../../images/Regale/Auswahl_Anna_Fit.png')}">
                        <img class="vr vr-pack vr-detail vr-anna-yogu" usemap="#image-map-detail" src="${require('../../images/Regale/Auswahl_Anna_Yogu.png')}">
                        <img class="vr vr-pack vr-detail vr-georg-tigerino" usemap="#image-map-detail" src="${require('../../images/Regale/Auswahl_Georg_Tigerino.png')}">
                        <img class="vr vr-pack vr-detail vr-georg-naturana" usemap="#image-map-detail" src="${require('../../images/Regale/Auswahl_Georg_Naturana.png')}">
                        <div class="buttons">
                                <div class="button kaufen">
                                        <img src="${require('../../images/Icons/Icon_wagen.svg')}"><div>kaufen</div>
                                </div>
                                <div class="button close">
                                        <img src="${require('../../images/Icons/Icon_X.svg')}"><div>schliesen</div>
                                </div>
                        </div>
                    </div>
                    <map name="image-map-max">
                        <area class="yogu" coords="1264,303,1780,1033" shape="rect">
                        <area class="naturana" coords="1845,341,2327,1033" shape="rect">
                    </map>
                    <map name="image-map-georg">
                        <area class="tigerino"coords="179,305,690,1036" shape="rect">
                        <area class="naturana" coords="1845,341,2327,1033" shape="rect">
                    </map>
                    <map name="image-map-anna">
                        <area class="fitline" coords="753,396,1205,1036" shape="rect">
                        <area class="yogu" coords="1264,303,1780,1033" shape="rect">
                    </map>
                    <map name="image-map-detail">
                        <area class="detail-area" coords="341,231,941,1083" shape="rect">
                    </map>

                </div>
            </div>
        </div>
        <div class="slider">
        </div>
    </div>
</div>