@import './variables.pcss';

body {
   margin: 0;
   max-width: 100vw;
   max-height: 100vw;
   background-color: var(--background-color);
   color: var(--main-color);
   font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
   font-weight: 300;
}
